*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Mulish, sans-serif;
    color: #000;
}

.container-lg {
    max-width: 1096px;
    width: 100%;
    margin: 0 auto;
}

.container-xl {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
