@import "colors";

.hero {
  padding: 154px 112px 0 112px;
  background: url('../app/img/hero-bg.png') center center no-repeat;
  background-size: cover;

  @media screen and (max-width: 1140px) {
    padding: 154px 20px 0 20px;
  }

  @media screen and (max-width: 991px) {
    padding: 82px 20px 30px 20px;
  }

  .title {
    max-width: 634px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 64px;
    font-weight: 800;

    @media screen and (max-width: 991px) {
      font-size: 48px;
    }
  }

  .sub-title {
    max-width: 424px;
    margin-bottom: 110px;
    color: #fff;
    line-height: 29px;

    @media screen and (max-width: 991px) {
      margin-bottom: 32px;
      //text-align: center;
    }
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1096px;
    padding: 28px 64px;
    transform: translateY(50%);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    border-radius: 100px;

    @media screen and (max-width: 991px) {
      max-width: 388px;
      padding: 24px 52px;
      transform: translateY(0);
      border-radius: 5px;
    }
  }

  .inputs-block {
    display: flex;

    @media screen and (max-width: 991px) {
      width: 100%;
      flex-direction: column;
    }
  }

  .search-select {
    display: flex;
    flex-direction: column;
    margin-right: 48px;

    &:last-of-type {
      margin: 0;
    }

    @media screen and (max-width: 991px) {
      margin: 0 0 35px 0;

      &:last-of-type {
        margin-bottom: 35px;
      }
    }

    .input-title {
      display: inline-block;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 16px;
    }

    select {
      width: 178px;
      height: 56px;
      padding: 16px;
      border: 2px solid grey;
      background: #fff;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
  }

  .btn-submit {
    min-width: 138px;
    padding: 16px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: $royal-blue;
    border: none;
    border-radius: 3px;
  }
}